.jumbotron {
  background-image: url("../../images/pexels-photo-24306.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1800px;
  padding-bottom: 370px;
  text-align: center;
  font-size: 16px;
  height: 225px;
 
 
 
}

.flex {
  display: flex;
  justify-content: space-around;

}

.header {
  background-color: #870c22 ;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid darkblue;

}

.header button {
 margin: 10px;

}

h1 {
  font-family: lucida;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  color: black;
  text-shadow: 0 0 4px white, 0 0 5px white;
 
}

.click {
  border-radius: 15px;
  text-align: center;
}



footer {
text-align: center;
color: white;
width: 1080px;
padding: 20px;
margin: 20px;
margin-left: -900px;
}


#map {

 
 width: 75%!important;
 border-style: solid;
 border-color:orange;
 border-width: 20px;
 position: relative;
 overflow: hidden;
 padding-bottom: 22.25%;
 padding-top: 30px;
 padding-left: 200px;
 margin-left: 10%;

}

body {
  background-color: #5c687c ;
}


body {
  background-color: #5c687c ;
}

.content1 {
  float: left;
  background: #455AA3 ;
 padding: 20px;
 margin: 80px;
 height: 700px;
 width: 570px;
 font-size: 16px;
 border-radius: 15px;
}

#state {
   margin-right: 25px;
}

#country {
   width:200px;
}

#gender {
   margin-right:70px;
}

#add-user-btn {
   color:black;
   margin-right:50px;

}

#athlete-form {
  width: 700px;
  margin-left: 120px;
  color:blue;
  border:none;
  background: coral;

}


#form {
  color: pink;
  font-weight: bold;
  font-size: 24px;
  background: steelblue;
  margin-bottom: 10px;
  width:80%;
}

#information {
  background: coral;
  color: black;
  border: coral;
  width: 699px;
}

#form1 {
  border:none;
  width: 699px;
}

p {
  font-weight:bold;
}

#info {

  border:none;
  width:699px;

}

label {
  color: black;
}

input {
  color:black
}

h3 {
  color: lightblue;
  font-weight:bold;
}

iframe {
  margin-left: 175px;
}



  #empty-user-btn {
    margin-bottom:10px;
    font-weight: bold;
  }
#search-user-btn {
  margin-bottom: 10px;
  font-weight:bold;
}

#athletes {
 
  font-weight: bold;
  color:blue;
  border: none;
}

#gender {
  margin-bottom: 10px;}

tr {
  border: blue;
  color: darkgreen;
  background: lightblue;
  text-align: center;
}

thead {
  text-align: center;
}

tbody {
  border:blue;
  text-align: center;
}

th {
  border:none;
}

.center {
  text-align: center;
}

h4 {
  font-weight: bold;
}

#second-form {
  background-color: 
  width:699px;


}

